#block{
    margin-top: 50px;
    position: relative;
}
#plus{
    width: 100px; 
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
}
#restart{
    width: 100px; 
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
}